<table class="table table-striped">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Name</th>
            <th>Synopsis</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            <tr>
                <td>
                    <img src="{{ movie.small_thumbnail|default:'/media/placeholder_300x200.png' }}" height="50" />
                </td>
                <td><a href="{% url 'movies.views.detail' movie.id %}">{{ movie.name }}</a></td>
                <td><span class="text-muted">{{ movie.synopsis|truncatewords:30 }}</span></td>
                <td>{{ movie.release_date|slice:":4" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
