container_commands:
 01_syncdb:
  command: "django-admin.py syncdb --noinput"
  leader_only: true
 02_collectstatic:
  command: "django-admin.py collectstatic --noinput"
 03_migrate:
  command: "python manage.py migrate --noinput"
  leader_only: true
 04_createadmin:
  command: "python scripts/createadmin.py"
  leader_only: true
 05_createsite:
  command: "python scripts/createsite.py"
  leader_only: true
 06_newrelic_deployment:
  command: curl -H "x-api-key:6cbb546df9c6439674cd6aee8a2fdfd43636e7e2142f473" -d "deployment[app_name]=Ophion" https://api.newrelic.com/deployments.xml
  leader_only: true
 

option_settings:
 "aws:elasticbeanstalk:container:python:environment":
  DJANGO_SETTINGS_MODULE: "ophion.settings.aws"
  NEW_RELIC_CONFIG_FILE: "newrelic.ini"
  NEW_RELIC_ENVIRONMENT: "production"
 "aws:elasticbeanstalk:container:python":
  WSGIPath: "ophion/wsgi.py"
 "aws:elasticbeanstalk:container:python:staticfiles":
  "/static/": "static/"