<form method="post" action="{% url 'lists.views.add' %}" class="form-signin">
    {% csrf_token %}
    <div class="form-group">
        <p>
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
        </p>
        <p>
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" rows="2"></textarea>
        </p>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Create List</button>
</form>
